<div class="flex justify-center w-3/6">
    <p class="text-2xl mt-10">here is the sign up form</p>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col w-3/6 m-10">
    <app-input [control]="f.username" label="username" placeholder="please enter username" type="text"></app-input>
    <app-input [control]="f.password" label="password" placeholder="please enter password" type="password"></app-input>
    <app-input [control]="f.passwordconfirmation" label="passwordconfirmation" placeholder="please re-enter password"
        type="password"></app-input>
    <button type="submit"
        class="w-32 h-12 border border-black ml-12 rounded-lg focus:outline-none bg-emerald-500 font-bold">
        submit
    </button>
</form>
{{form.errors | json}}